<%= javascript_pack_tag 'hello_vue' %>

<div id="app">
  <div class="row">
    <div class="col">
      <h2>Valor a pegar</h2>
        <div class="form-group">
          <label for="valorEmprestado">Valor emprestado</label>
          <input v-model="valorEmprestado" type="number" class="form-control" id="valorEmprestado" placeholder="Valor que o cliente vai pegar">
        </div>
        <p>
          <strong>Valor passar na máquina:</strong>
          R$ {{formatPrice(valorEmprestado * 1.1 * (1 + taxaFixa))}}
        </p>
        <p>
          <strong>PARCELAS</strong>
          <ul>
            <li>1x de <strong>R$ {{formatPrice(valorEmprestado * 1.1 * (1 + taxaFixa + taxa1))}}</strong> - (R$ {{formatPrice(valorEmprestado * 1.1 * (1 + taxaFixa + taxa1))}})</li>
            <li>2x de <strong>R$ {{formatPrice(valorEmprestado * 1.1 * (1 + taxaFixa + taxa2) / 2)}}</strong> - (R$ {{formatPrice(valorEmprestado * 1.1 * (1 + taxaFixa + taxa2) / 2)}})</li>
            <li>3x de <strong>R$ {{formatPrice(valorEmprestado * 1.1 * (1 + taxaFixa + taxa3) / 3)}}</strong> - (R$ {{formatPrice(valorEmprestado * 1.1 * (1 + taxaFixa + taxa3) / 3)}})</li>
            <li>4x de <strong>R$ {{formatPrice(valorEmprestado * 1.1 * (1 + taxaFixa + taxa4) / 4)}}</strong> - (R$ {{formatPrice(valorEmprestado * 1.1 * (1 + taxaFixa + taxa4) / 4)}})</li>
            <li>5x de <strong>R$ {{formatPrice(valorEmprestado * 1.1 * (1 + taxaFixa + taxa5) / 5)}}</strong> - (R$ {{formatPrice(valorEmprestado * 1.1 * (1 + taxaFixa + taxa5) / 5)}})</li>
            <li>6x de <strong>R$ {{formatPrice(valorEmprestado * 1.1 * (1 + taxaFixa + taxa6) / 6)}}</strong> - (R$ {{formatPrice(valorEmprestado * 1.1 * (1 + taxaFixa + taxa6) / 6)}})</li>
            <li>7x de <strong>R$ {{formatPrice(valorEmprestado * 1.1 * (1 + taxaFixa + taxa7) / 7)}}</strong> - (R$ {{formatPrice(valorEmprestado * 1.1 * (1 + taxaFixa + taxa7) / 7)}})</li>
            <li>8x de <strong>R$ {{formatPrice(valorEmprestado * 1.1 * (1 + taxaFixa + taxa8) / 8)}}</strong> - (R$ {{formatPrice(valorEmprestado * 1.1 * (1 + taxaFixa + taxa8) / 8)}})</li>
            <li>9x de <strong>R$ {{formatPrice(valorEmprestado * 1.1 * (1 + taxaFixa + taxa9) / 9)}}</strong> - (R$ {{formatPrice(valorEmprestado * 1.1 * (1 + taxaFixa + taxa9) / 9)}})</li>
            <li>10x de <strong>R$ {{formatPrice(valorEmprestado * 1.1 * (1 + taxaFixa + taxa10) / 10)}}</strong> - (R$ {{formatPrice(valorEmprestado * 1.1 * (1 + taxaFixa + taxa10) / 10)}})</li>
            <li>11x de <strong>R$ {{formatPrice(valorEmprestado * 1.1 * (1 + taxaFixa + taxa11) / 11)}}</strong> - (R$ {{formatPrice(valorEmprestado * 1.1 * (1 + taxaFixa + taxa11) / 11)}})</li>
            <li>12x de <strong>R$ {{formatPrice(valorEmprestado * 1.1 * (1 + taxaFixa + taxa12) / 12)}}</strong> - (R$ {{formatPrice(valorEmprestado * 1.1 * (1 + taxaFixa + taxa12) / 12)}})</li>
          </ul>
        </p>

    </div>
  </div>
</div>
