<div class="row">
  <div class="col">
    <h1>O Melhor Videogame da História - Resultados</h1>
  </div>
  <div class="col-12">
    <hr>
    <h2>Estatíticas</h2>

    <%= render 'resultado' %>

  </div>
</div>
