<div class="container">
  <div class="row">
    <div class="col">
      <strong>Utilitários</strong>
      <%= link_to "Abrir telefone no whatsapp", open_whatsapp_number_path %>
    </div>
  </div>
  <div class="row">
    <div class="col">
      Andre Costa
      <span class="float-right">Entre em contato por <a href="mailto:mr.luizandre@gmail.com">email</a> ou por <a href="tel:+5562992033675">telefone</a>.</span>
    </div>
  </div>
</div>
