<div class="row ">
  <div class="col">

    <div class="posts-home">
      <div class="row">
        <div class="col-12 posts-col">
          <div class="row">
            <% @posts.each do |post| %>
              <div class="col-sm-12 col-md-6">
                <div class="post">
                  <%= link_to blog_post_view_path(post) do %>
                        <div class="row">
                          <div class="col">
                            <%= image_tag post.image.home_thumb, class: 'img-fluid post-image' %>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col post-title">
                            <%= post.title %>
                          </div>
                        </div>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
<!--         <div class="col-3">
          <%= render 'shared/sidebar-home' %>
        </div> -->
      </div>
    </div>

  </div>
</div>
