// Place all the styles related to the blog controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.posts-home{

  .post{
    *{
      text-decoration: none;
    }
    padding-top: 1em;
    padding-bottom: 1em;

    .post-image{
      width: 100%;
    }

    .user-post-image{
      border-radius: 50%;
      width: 55px;
    }

    .post-info{
      margin-bottom: .75em;

      .author{
        font-size:.9em;
        color: #47A8E9;
      }
      .date{
        font-size: .75em;
        color: #aaa;
      }
    }

    .post-title{
      font-family: 'Lato', sans-serif;
      color: #222222;
      font-size: 1.4em;
      margin-top: 1em;
      font-weight: bold;
    }
  }

}

.img-top-post{
  width: 100%;
}

.post-title{
  margin-top: 1em;
}

.post-introduction{
  font-family: 'Lato', sans-serif;
  // font-style: italic;
  font-size: 1.3em;
  color: #8d929b;

  .intro {
    margin-bottom: .4em;
  }

  .updated_at, .author{
    display: inline-block;
    font-size: .9rem;
  }
}

.post-introduction, .post-content, .post-author-info{
  border-bottom: 2px solid #E3E7EA;
}
.post-content{
  font-family: 'Lora', sans-serif;
  font-size: 1.25em;
  margin-top: .75em;
  margin-bottom: .75em;

  p {
    line-height: 1.55;
    margin-bottom: 1.5rem;
    color: #444444;
  }
  h1 {
    padding-top: 1em;
    padding-bottom: 1em;
  }
  h2 {
    padding-top: .9em;
    padding-bottom: .3em;
  }
  h3, h4, h5, h6{
    padding-top: .6em;
    padding-bottom: .2em;
  }

  img{
    max-width: 100%;
    margin-top: .75em;
    margin-bottom: .75em;
  }

  blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
  }

  blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
  }

  blockquote p {
    display: inline;
  }
}

.post-author-info{
  padding-bottom: .75em;
  margin-bottom: .75em;

  img{
    border-radius: 50%;
  }

  .bio{
    color: #8d929b;
  }

}

.post-title, .post-introduction, .post-content, .post-comments, .post-author-info{
  padding-left: 0;
  padding-right: 0;
}


@media (max-width: 576px) {
  .post-content{
    p{
      font-size: 1.1rem;
    }
  }
}

pre {
  background-color: #23241F;
  padding: .5em;
  border-radius: .4em;
  font-size: 1rem;
}
