// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.posts {
  &.index{
    .post-title{
      font-weight: bold;
      display: block;
    }
    .post-body{
      color: #555555;
      font-size: .95em;
    }
  }
}

.blog{
  &.home{
    .posts{
      a.title{
        font-size: 1.4em;
        display: block;
        color: #222222;
      }
    }
  }
}
